img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.image-box {
    display: flex;
    justify-content: center;

}

.bordoimg {
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 5px solid #ff675b
}


.nome {
    display: flex;
    justify-content: center;
}

.box_nome {
        border-width:3px;
        border-style:solid;
        border-color:#ff0000;
}


.text1 {
    left: 55px;
    font-size: 50px;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;

 }


 .motivo1 {
    border: 1px solid red;
    background: url(images/kebab1-2-3.jpg);
    background-size: cover;
 }

