img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.image-box {
    display: flex;
    justify-content: center;

}

.bordoimg {
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 5px solid #ff675b
}


.nome {
    display: flex;
    justify-content: center;
}

.box_nome {
        border-width:3px;
        border-style:solid;
        border-color:#ff0000;
}